
<% unless Question.order("created_at").last.nil? %>
<div id="introquestionsmodule">
  <div class="lastone">
    <strong><%= Question.last.subject %></strong></br>
    <%= raw(Question.last.question) %>
  </div>
  <div class="listcategories">
    <ul>
      <% Category.all.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>


<% unless user_signed_in? %>
<div id="connectmodule">
	<div class="insideconnect">
		<div class="normallogins">
			normal
		</div>
		<div class="sociallogins">
			social
		</div>
	</div>
</div>
<% end %>
