/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require redactor-rails
 *= require_self
 *= require_tree .
 */

.toggle {
	border: 1px solid rgba(0,0,0,0.25);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.5),inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5),inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5),inset 0 1px 0 rgba(255,255,255,0.5);


}


header {
	position: fixed;
	top: 0px;
	left: 0px;

	display: block;

	min-width: 100%;
	height: 60px;

	background-color: white;
	opacity: 0.9;

	margin: 0px;
	padding: 0 0 0 0;

	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

	.logo {
		display: inline-block;

		margin: 0px;
		padding: 0px;

		margin-left: 30px;
		margin-right: 40px;

	}

	.menu {
		display: inline-block;

		margin: 0px;
		padding: 0px;

		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

		a {
			color: #000;

			font-weight: bold;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		}

		ul {
			margin: 0px;
			padding: 0px;

			li {
				display: inline-block;

				margin: 0px;
				padding: 0px;

				padding-right: 10px;
				margin-left: 10px;

				line-height: 60px;

				border-right: 1px solid #eee;

			}
		}
	}

	.personal {
		display: inline-block;

		margin: 0px;
		margin-left: 20px;

		a {
			color: #000;

			font-weight: bold;
			font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
			font-size: 14px;
		}

		ul {
			li {
				display: inline-block;

				padding-right: 10px;

				line-height: 60px;

				border-right: 1px solid #eee;

			}
		}
	}
}

#introquestionsmodule {
	background-color: #fff;

	margin: 0px;
	padding: 20px;
	display: block;

	text-align: center;

	.lastone {
		display: inline-block;

		text-align: left;

		width: 400px;

		margin-right: 20px;

	}

	.listcategories {
		display: inline-block;
		vertical-align: top;

		border-left: 1px solid #eee;

		text-align: left;

		margin: 0px;
		padding: 0px 0 0 0px;

		width: 200px;
		min-height: 200px;

		ul {
			margin: 0px;
			padding: 0px;

			li {
				list-style: none;

				margin: 0px;
				padding: 0px;

				a {
					padding-left: 10px;

					&:hover {
						border-left: 3px solid #eee;
					}
				}

				
			}
		}
	}

}

#connectmodule {
	display: block;
	margin: 0px;
	padding-top: 40px;


	border-top: 1px solid #C6CCC0;
	border-bottom: 1px solid #C6CCC0;

	min-height: 200px;
	width: 100%;
	background-color: #EAF0E5;

	.insideconnect {
		width: 900px;
		margin: 0 auto;
		padding: 20px;

		display: block;

		background-color: #fff;

		border-radius: 5px;
		border: 1px solid #C6CCC0;

		text-align: center;

		.normallogins {
			display: inline-block;
			vertical-align: top;

			text-align: left;

			width: 400px;

			.big {
				font-size: 24px;
				font-weight: bold;

				margin-bottom: 20px;
			}
		}

		.sociallogins {
			display: inline-block;
			vertical-align: middle;

			padding-top: 20px;

			text-align: center;

			width: 400px;

			.facebook {
				background-color: #2D4486;

				border-radius: 5px;

				padding: 10px;
				padding-left: 15px;
				padding-right: 15px;

				font-size: 24px;
				font-weight: bold;
				color: #fff;
			}

		}
	}
}

#footer {
	margin: 0px;
	padding: 0px;
	padding-top: 20px;

	min-height: 200px;
	width: 100%;

	background-color: #121a0d;

	color: #fff;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-size: 14px;

	border-top: 2px dashed #75bb34;

	.footercontainer {
		width: 900px;
		margin: 0 auto;
		padding: 0px;

		.sitemap {
			width: 900px;
			margin: 0 auto;
			padding: 0px;
		}

		.sponsors {
			width: 900px;

			margin: 0 auto;
			margin-top: 30px;
			margin-bottom: 10px;
			padding: 0px;
			padding-top: 30px;
			padding-bottom: 30px;

			border-top: 1px solid #222A1F;
			border-bottom: 1px solid #222A1F;



		}

		.bottommenu {
			width: 900px;
			margin: 0 auto;
			padding: 0px;

			.bottomlogo {
				width: 300px;
				margin: 0px;
				padding: 0px;

				display: inline-block;

			}

			.bottomlinks {
				margin: 0px;
				padding: 0px;

				text-align: right;

				width: 550px;
				display: inline-block;


				ul {

					li {
						margin: 10px;
						list-style: none;

						display: inline-block;
					}
				}
			}
		}
	}
}